services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend.prod
    image: interview-backend:prod
    container_name: interview-backend
    ports:
      - "8000:8000"
    volumes:
      - backend_sqlite:/data
    depends_on:
      - chromadb

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    image: interview-ui:latest
    container_name: interview-ui
    ports:
      - "8501:8501"
    environment:
      API: http://backend:8000
    depends_on:
      - backend

volumes:
  chroma_data:
  backend_sqlite:

