version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend.prod
    image: interview-backend:prod
    container_name: interview-backend
    ports:
      - "8000:8000"

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: interview-ui
    ports:
      - "8501:8501"
    depends_on:
      - backend

volumes:
  chroma_data:

