# ===== CORE =====
numpy<2
fastapi
uvicorn
pydantic
requests
python-dotenv
sqlalchemy
pandas
passlib[bcrypt]

# ===== LANGCHAIN =====
langchain
langchain-core
langchain-community
langchain-chroma

# ===== VECTOR DB =====
chromadb

# ===== ML (CPU ONLY) =====
torch==2.2.2+cpu
sentence-transformers
langchain-huggingface
